{% extends "base.html" %}
{% block title %}List of UserPrefs{% endblock %}
{% block head %}{{super()}}{% endblock %}
{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <h1>List of UserPrefs</h1>
            <table class="table">
                <tr>
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Role</th>
                </tr>
            {% for userpref in userprefs %}
                <tr>
                    <td>{{userpref.username}}</td>
                    <td>{{userpref.first_name}}</td>
                    <td>{{userpref.last_name}}</td>
                    <td>{{userpref.role}}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
{% block footer %}{{super()}}{% endblock %}