{% extends "base.html" %}
{% block title %}Create New UserPref{% endblock %}
{% block head %}
    <meta name="description" content="Home, Rubric, Evaluations">
    {{super()}}
{% endblock %}
{% block content %}
    <h1>Create a New UserPref</h1>
{% if message %}
    {% if messageType == 'success' %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>{{ message }}</h4>
        {#<p>Username={{ userpref.username}}, FirstName={{userpref.first_name}}, LastName={{userpref.last_name}}, Role={{userpref.role}}</p>#}
    </div>
    {% elif messageType == 'error' %}
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>{{ message }}</h4>
        {#<p>Username={{ userpref.username}}, FirstName={{userpref.first_name}}, LastName={{userpref.last_name}}, Role={{userpref.role}}</p>#}
        <ul>
        {% for error in errors %}
            <li>{{error.message}}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    <!-- unknown messageType -->
{% endif %}
    <form class="form-horizontal" method="post">
        <div class="control-group">
            <label class="control-label" for="username">Username</label>
            <div class="controls">
                <input type="text" id="username" name="username" value="{% if userpref.username %}{{userpref.username}}{% endif %}" placeholder="example: jsmith" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="firstName">Name</label>
            <div class="controls">
                <input type="text" id="firstName" name="firstName" value="{% if userpref.first_name %}{{userpref.first_name}}{% endif %}" placeholder="First" />
                <input type="text" id="lastName" name="lastName" value="{% if userpref.last_name %}{{userpref.last_name}}{% endif %}" placeholder="Last" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="role">Role</label>
            <div class="controls">
                <select id="role" name="role"><option>Staff</option><option>Evaluator</option><option>Administrator</option></select>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}
{% block footer %}
    {{super()}}
{% endblock %}