{% extends "base.html" %}
{% block title %}List of Feeds{% endblock %}
{% block head %}{{super()}}{% endblock %}
{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <h1>Feeds</h1>
            <table class="table">
                <tr>
                    <th>Title</th>
                    <th>URL</th>
                    <th>Posted Date</th>
                </tr>
            {% for feed in feeds %}
                <tr>
                    <td>{{feed.name}}</td>
                    <td>{{feed.feed_url}}</td>
                    <td>{{feed.stored_dt}}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
{% block footer %}{{super()}}{% endblock %}