{% extends "base.html" %}
{% block title %}Create New User{% endblock %}
{% block head %}
    <meta name="description" content="Home, Feed">
    {{super()}}
{% endblock %}
{% block content %}
    <h1>Subscribe to Feed</h1>
{% if message %}
    {% if messageType == 'success' %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>{{ message }}</h4>
        {#<p>Username={{ user.username}}, FirstName={{user.first_name}}, LastName={{user.last_name}}, Role={{user.role}}</p>#}
    </div>
    {% elif messageType == 'error' %}
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>{{ message }}</h4>
        {#<p>Username={{ user.username}}, FirstName={{user.first_name}}, LastName={{user.last_name}}, Role={{user.role}}</p>#}
        <ul>
        {% for error in errors %}
            <li>{{error.message}}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    <!-- unknown messageType -->
{% endif %}
    <form class="form-horizontal" method="post">
        <div class="control-group">
            <label class="control-label" for="feedName">Feed Name</label>
            <div class="controls">
                <input type="text" id="feedName" name="feedName" value="{% if feed.name %}{{feed.name}}{% endif %}" placeholder="example: ESPN NFL News" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="feedUrl">URL</label>
            <div class="controls">
                <input type="text" id="feedUrl" name="feedUrl" value="{% if feed.feedUrl %}{{feed.feedUrl}}{% endif %}" placeholder="URL (Atom or RSS)" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="feedCategory">Category</label>
            <div class="controls">
                <select id="feedCategory" name="feedCategory"><option />
{% for fc in feed_categories %}
    <option value="{{fc.key()}}">{{fc.name}}</option>
{% endfor %}
                </select>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}
{% block footer %}
    {{super()}}
{% endblock %}