{% extends "base.html" %}
{% block title %}List of Rubrics{% endblock %}
{% block head %}
    <meta name="description" content="Home, Rubric, Evaluations">
    {{super()}}
{% endblock %}
{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <h1>List of Rubrics</h1>
            <div>Rubric ABC</div>
            <div>Rubric XYZ</div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {{super()}}
{% endblock %}