<!DOCTYPE html>
<html>
    <head>
        <title>Cherubric</title>
    </head>
    <body>
        <h1>Create a New Rubric</h1>
        {% if message %}
            Message : {{ message }}
        {% endif %}
        <form>
            <label>Name</label><input type="text" value="" />
            <input type="submit" />
        </form>
        <ul>
            <li><a href="/user/new">Home</a></li>
            <li><a href="/user/new">Create New User</a></li>
            <li><a href="/rubric/new">Create New Rubric</a></li>
            <li><a href="/evaluation/new">Create New Evaluation</a></li>
        </ul>
    </body>
</html>