body {
    padding-top: 65px;
}

.accordion-heading a:hover, a:focus {
    text-decoration: none;
}

.sidebar-nav {
padding: 9px 0;
}


.accordion-heading { border-bottom: 1px solid #eaeaea; padding: 5px; }
.accordion-body { padding: 5px 15px; }
.accordion-group { margin-bottom: -1px; border-radius: 0px; }
.accordion-heading .accordion-toggle { display: inline; }