<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <title>Greader : {% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="robots" content="all">
        <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/greader.css"
        {% endblock %}
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="/">Greader</a>
                    <div class="nav-collapse collapse">
                        <p class="navbar-text pull-right">
                        {% if is_logged_in %}
                            Logged in as <a href="#" class="navbar-link">{{username}}</a> | <a href="{{logout_url}}">Logout</a>
                        {% else %}
                            <a href="/login" class="navbar-link">Login</a>
                        {% endif %}
                        </p>
                        <ul class="nav">
                            <li class="active"><a href="/">Feeds</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
        {% block sidebar %}
                <div class="span2">
                    <div class="sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header">Feeds</li>
                            <li><a href="/feeds/new">New</a></li>
                            <li><a href="/feeds">List</a></li>
                            <li class="nav-header">Users</li>
                            <li><a href="/users/new">New</a></li>
                            <li><a href="/users/import">Import</a></li>
                            <li><a href="/users">List</a></li>
                        </ul>
                    </div>
                </div>
        {% endblock %}
                <div class="span8">
                    {% block content %}{% endblock %}
                </div>
        {% block skyscraper %}
                <div class="span2">
                    <div class="well">
                        <h3>A Thing To Watch</h3>
                    </div>
                    <div class="well">
                        <h3>Another Thing</h3>
                    </div>
                </div>
        {% endblock %}
            </div>
            <div class="row-fluid">
                <hr />
                {% block footer %}
                <footer>
                    <p class="text-right muted">Copyright 2013 Heidorn Studios</p>
                </footer>
                {% endblock %}
            </div>
        </div>
        {% block scripts %}
            <!--<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>-->
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
            <script src="http://safetysignproducts.com/sca/wp-content/themes/stcatherine/bootstrap/js/bootstrap.js"></script>
            <!--<script src="http://safetysignproducts.com/sca/wp-content/themes/stcatherine/bootstrap/js/bootstrap-dropdown.js"></script>-->
            <!--<script src="http://safetysignproducts.com/sca/wp-content/themes/stcatherine/bootstrap/js/bootstrap-carousel.js"></script>-->
        {% endblock %}
    </body>
</html>