{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    <meta name="description" content="Home, Rubric, Evaluations">
    {{super()}}
{% endblock %}
{% block sidebar %}
    {{super()}}
{% endblock %}
{% block content %}
        <div class="accordion" id="feed-accordion">
            <h4><a href="{{feed.link}}" target="_TOP">{{feed.name}} »</a></h4>
        {% for entry in entries %}
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#feed-accordion" href="#feed-ctr-{{loop.index}}">{{entry.title}}</a>
                    <a href="{{entry.feedburner_origlink}}" target="_TOP" class="" style="margin-right: 2.3em;">»</a>
                </div>
                <div id="feed-ctr-{{loop.index}}" class="collapse">
                    <div class="accordion-body">
                        <p>{{entry.summary}}</p>
                        <a href="{{entry.feedburner_origlink}}" target="_TOP">Link</a> - <em>{{entry.author}}</em>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
{% endblock %}
{% block footer %}
    {{super()}}
{% endblock %}

<!--
{
    'rights_detail': {
        'type': u'text/plain', 
        'language': None, 
        'base': u'http://feeds.penny-arcade.com/pa-mainsite', 
        'value': u'Copyright (c) 1998-2013 Penny Arcade, Inc.'
    }, 
    'link': u'http://www.penny-arcade.com', 
    'subtitle_detail': {
        'type': u'text/html', 
        'language': None, 
        'base': u'http://feeds.penny-arcade.com/pa-mainsite', 
        'value': u'News Fucker 5000'
    }, 
    'title_detail': {
        'type': u'text/plain', 
        'language': None, 
        'base': u'http://feeds.penny-arcade.com/pa-mainsite', 
        'value': u'Penny Arcade'
    }, 
    'rights': u'Copyright (c) 1998-2013 Penny Arcade, Inc.', 
    'language': u'en-us', 
    'title': u'Penny Arcade', 
    'feedburner_info': {
        'uri': u'pa-mainsite'
    }, 
    'subtitle': u'News Fucker 5000', 
    'updated_parsed': time.struct_time(tm_year=2013, tm_mon=6, tm_mday=10, tm_hour=21, tm_min=33, tm_sec=27, tm_wday=0, tm_yday=161, tm_isdst=0), 
    'links': [
        {'type': u'text/html', 'rel': u'alternate', 'href': u'http://www.penny-arcade.com'}, 
        {'type': u'application/rss+xml', 'rel': u'self', 'href': u'http://feeds.penny-arcade.com/pa-mainsite'}, 
        {'type': u'text/html', 'rel': u'hub', 'href': u'http://pubsubhubbub.appspot.com/'}
    ], 
    'updated': u'2013-06-10T21:33:27+00:00'
}
-->